.settings

    form(ng-controller="SettingsChangePassword as SettingsChangePassword" ng-submit="SettingsChangePassword.submit()")
        h3 Сменить пароль
        .form-group.row
            label.col-md-3 Старый пароль:
            .col-md-9
                input.form-control(type="password" ng-model="SettingsChangePassword.form.old" required)
        .form-group.row
            label.col-md-3 Новый пароль:
            .col-md-9
                input.form-control(type="password" ng-model="SettingsChangePassword.form.new" required)
        .form-group.row
            label.col-md-3 Повторите новый пароль:
            .col-md-9
                input.form-control(type="password" ng-model="SettingsChangePassword.form.newAgain" required)
        .form-group.row
            .col-md-32
            .col-md-9
                button.btn.btn-primary(type="submit") Сменить пароль
        .form-group
            .success(ng-if="SettingsChangePassword.success") Пароль успешно изменен
            .error(ng-if="SettingsChangePassword.error") {{SettingsChangePassword.error}}
