.index {
    margin: 0 auto;

    h6 {
        color: #888;
        font-weight: normal;
        text-transform: uppercase;
    }

    &__channel-info {
        background-color: #eee;
        overflow-x: auto;
    }

    &__channel-status-false {
        color: $danger;
        background-color: #eee;
        padding: 15px;
        margin: 20px auto;

        i {
            margin-right: 5px;
        }
    }

    &__channel-status-true {
        color: $green;
        background-color: #eee;
        padding: 15px;
        margin: 20px auto;

        i {
            margin-right: 5px;
        }
    }

    &__channel-listeners {
        background-color: #eee;
        padding: 15px;
        margin: 20px auto;

        th {
            font-size: 13px;
        }

        td,th {
            padding: 5px 15px;
            border-bottom: 1px solid #ccc;
        }
    }

    &__channel-listeners-total {
        margin: 20px 0;

        strong {
            background: #ffffff;
            padding: 2px 18px;
            font-size: 32px;
            border-radius: 3px;
            margin-left: 10px;
            border: 1px solid #c5c5c5;
            font-weight: normal;
        }
    }
}