.codes-generation
    .codes-generation__info.card.mb-3
        .card-body
            dl.row
                dt.col-md-4 Дата создания
                dd.col-md-8 {{CodesGeneration.info.date | date:'medium'}}
                dt.col-md-4 Название
                dd.col-md-8 {{CodesGeneration.info.name}}
                dt.col-md-4 Длительность (в днях)
                dd.col-md-8 {{CodesGeneration.info.duration}}
                dt.col-md-4 Количество кодов
                dd.col-md-8 {{CodesGeneration.info.count}}

            .row
                .col
                    a.btn.btn-outline-primary(ng-href="{{CodesGeneration.exportLink}}" target="_blank") Сохранить в файл
                    button.btn.btn-outline-danger(ng-click="CodesGeneration.delete()") Удалить

    .table-responsive
        table.table.table-sm.table-hover
            thead
                tr
                    th Код
                    th Использован
                    th IP-адрес
            tbody
                tr(ng-repeat="i in CodesGeneration.codes" ng-class="{'table-secondary': i.expired}")
                    td {{i.code}}
                    td
                        | {{i.activated ? (i.activated | date:'medium') : '&mdash;'}}
                        span(ng-if="i.expired") &nbsp;(истёк)
                    td {{i.IP.join(', ')}}
